/*

                =================================

                         reset css start


                =================================

*/

@import './base/reset';

/*

                =================================

                           reset css end


                =================================

*/

/*

                =================================

                          common css start


                =================================

*/

@import './base/commonClass';

/*

                =================================

                          common css end


                =================================

*/

/*

                =================================

                         header css start


                =================================

*/

@import './components/header';

/*

                =================================

                         header css end


                =================================

*/

/*

                =================================

                         about us css start


                =================================

*/

@import './components/aboutUs';

/*

                =================================

                         about us css end


                =================================

*/

/*

                =================================

                      portfolio css start


                =================================

*/

@import './components/portfolio';

/*

                =================================

                      portfolio css end


                =================================

*/

/*

                =================================

                      services css start


                =================================

*/

@import './components/services';

/*

                =================================

                      services css end


                =================================

*/

/*

                =================================

                     testimonial css start


                =================================

*/

@import './components/testimonial';

/*

                =================================

                      testimonial css end


                =================================

*/

/*

                =================================

                      clients css start


                =================================

*/

@import './components/partner';

/*

                =================================

                       clients css end


                =================================

*/

/* 

      scroll to to css
*/

@import './components/scrollToTop';

/*

                =================================
 
                        footer css start


                =================================

*/

@import './components/footer';

/*

                =================================

                       footer css end


                =================================

*/
