@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&display=swap');

/* 

  1.  Variables & mixins
  2.  Common css
  3.  UTILITIES
  4.  Header css
  5.  Navbar css
  6.  Hero Area css
  7.  About Us Area css
  8.   css
  9.   css
  10.   css
  11.   css
  12.   css
  13.   css
  14.   css
  15.   css

*/

// Variables

$yellow__color: #fec600;
$white__color: #ffffff;
$white__heading: #d7d6d6;
$white__pera: #adaaaa;
$dark__color: #333333;
$fr: 'Raleway', sans-serif;
$fos: 'Open Sans', sans-serif;
$fso: 'Sacramento', cursive;
$transition: all 0.3s linear;

// mixins

@mixin fontStyle($fs, $fw, $ff) {
  font-size: $fs;
  font-weight: $fw;
  font-family: $ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
span,
input,
textarea,
button {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
section,
div {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

// UTILITIES

.section__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.section__header__description {
  font-size: 17px;
  max-width: 565px;
  margin: 0 auto;
  text-align: center;
}

.z__index {
  position: relative;
  z-index: 9;
}

// Header css

#header {
  // Navbar css

  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    ul {
      li {
        margin-left: 20px;
        &:nth-child(1) {
          margin-left: 0;
        }
        &:nth-child(7) {
          margin-left: 0;
        }
        a {
          padding: 0;
          color: $white__heading;
          transition: $transition;
          position: relative;
          @include fontStyle(16px, 500, $fos);
          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: $yellow__color;
            transition: $transition;
          }
          &:hover {
            color: $yellow__color;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }

  // Hero Area css

  #hero__area {
    width: 100%;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    .banner__prev,
    .banner__next {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: $white__color;
      border: 1px solid $white__color;
      text-align: center;
      line-height: 35px;
      position: absolute;
      top: 50%;
      cursor: pointer;
      z-index: 2;
      transform: translateY(-50%);
      transition: $transition;
    }
    .banner__prev {
      left: 30px;
    }
    .banner__next {
      right: 30px;
    }
    .banner__prev:hover,
    .banner__next:hover {
      background: $yellow__color;
      border: 1px solid $yellow__color;
    }
    .slider__item {
      width: 100%;
      position: relative;
      padding: 200px 0;
      display: flex;
      justify-content: center;
      text-align: center;
      &::after {
        content: '';
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      }

      h2 {
        @include fontStyle(50px, 600, $fr);
        color: $white__heading;
      }

      h1 {
        margin-top: 20px;
        @include fontStyle(50px, 600, $fos);
        color: $yellow__color;
      }

      p {
        color: $white__pera;
        max-width: 750px;
        margin: 40px auto;
        line-height: 30px;
        @include fontStyle(18px, 400, $fos);
      }
      .hero__buttons {
        display: flex;
        justify-content: center;
        button {
          padding: 10px 30px;
          outline: 0;
          text-transform: uppercase;
          @include fontStyle(18px, 400, $fr);
          transition: $transition;
          &:nth-child(1) {
            background-color: $yellow__color;
            margin-right: 20px;
            color: $dark__color;
            border: 1px solid transparent;
            &:hover {
              border: 1px solid $white__color;
              color: $white__color;
              background-color: transparent;
            }
          }
          &:nth-child(2) {
            background-color: transparent;
            color: $white__color;
            border: 1px solid $white__color;
            &:hover {
              background-color: $yellow__color;
              color: $dark__color;
              border: 1px solid transparent;
            }
          }
        }
      }
    }
    .bg-1 {
      background: url('../images/banner-bg1.jpg') no-repeat center / cover;
    }
    .bg-2 {
      background: url('../images/banner-bg2.jpg') no-repeat center / cover;
    }
    .bg-3 {
      background: url('../images/banner-bg3.jpg') no-repeat center / cover;
    }
  }
}

// About Us Area css
#about__us {
  padding: 50px 0;
  .about__us__card {
    text-align: center;
    padding: 40px 20px;
    background-color: #eeeeee;
    h3 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 500;
    }
    p {
      line-height: 25px;
      font-size: 18px;
    }
  }
  .about__us__image {
    text-align: center;
    height: 370px;
    width: 370px;
    border: 3px solid #333;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
