/* 

  1.  Common css
  2.  Variables
  3.  Header css
  4.  Navbar css
  5.  Hero Area css
  6.   css
  7.   css
  8.   css
  9.   css
  10.   css
  11.   css
  12.   css
  13.   css
  14.   css
  15.   css
  16.   css
  17.   css
  18.   css
  19.   css
  20.   css

*/

// Common css

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
span,
input,
textarea,
button {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
section,
div {
  margin: 0;
  padding: 0;
}

// Variables

$yellow__color: #fec600;

// Header css

#header {
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 535px, 0 100%);
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  // Navbar css

  nav {
    z-index: 1;
    ul {
      li {
        margin-left: 20px;
        &:nth-child(1) {
          margin-left: 0;
        }
        &:nth-child(7) {
          margin-left: 0;
        }
        a {
          padding: 0;
          color: #fff;
          transition: all 0.3s linear;
          position: relative;
          font-weight: 500;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: $yellow__color;
            transition: all 0.3s linear;
          }
          &:hover {
            color: $yellow__color;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }

  // Hero Area css

  #hero__area {
    padding: 100px 0;
    z-index: 1;
    position: relative;
    text-align: center;
    h2 {
      font-size: 50px;
      font-weight: 600;
      color: #ffff;
    }

    h1 {
      margin-top: 20px;
      font-size: 50px;
      font-weight: 600;
      color: $yellow__color;
    }

    p {
      color: #fff;
      max-width: 500px;
      margin: 40px auto;
      line-height: 30px;
      font-size: 18px;
    }
    .hero__buttons {
      display: flex;
      justify-content: center;
      button {
        padding: 10px 30px;
        outline: 0;
        font-size: 18px;
        transition: all 0.5s linear;
        text-transform: uppercase;
        &:nth-child(1) {
          background-color: $yellow__color;
          margin-right: 20px;
          color: #000;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid $yellow__color;
            color: $yellow__color;
            background-color: transparent;
          }
        }
        &:nth-child(2) {
          background-color: transparent;
          color: $yellow__color;
          border: 1px solid $yellow__color;
          &:hover {
            background-color: $yellow__color;
            color: #000;
          }
        }
      }
    }
  }
}
