@import '../variables/variables';
@import '../mixins/fontStyles';
@import '../extended/darkOverlay';
@import '../extended/aboutAfterCommon';
@import '../extended/aboutBeforeCommon';
@import '../extended/flexAlign';

#about__us {
  padding: 50px 0;
  .about__us__container {
    @extend %flex__align;
    position: relative;
    margin: 100px 0;

    // left div

    .about__left {
      text-align: right;
      left: 0;
      transition: $transition;
      &::before {
        @extend %about__before__common;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        right: -5%;
      }
      &::after {
        @extend %about__after__common;
        right: -72px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover {
        filter: $filter;
        &::after {
          background-color: $yellow__color;
        }
      }
    }

    // right div

    .about__right {
      text-align: left;
      right: 0;
      transition: $transition;
      &::before {
        @extend %about__before__common;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        left: -5%;
      }
      &::after {
        @extend %about__after__common;
        left: -72px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover {
        filter: drop-shadow(5px 6px 7px #bdb3b3);
        &::after {
          background-color: $yellow__color;
        }
      }
    }

    // top div

    .about__top {
      text-align: center;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: $transition;
      &::before {
        @extend %about__before__common;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        bottom: -5%;
      }
      &::after {
        @extend %about__after__common;
        bottom: -52px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover {
        filter: drop-shadow(5px 6px 7px #bdb3b3);
        &::after {
          background-color: $yellow__color;
        }
      }
    }

    // bottom div

    .about__bottom {
      text-align: center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      &::before {
        @extend %about__before__common;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        top: -5%;
      }
      &::after {
        @extend %about__after__common;
        top: -52px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover {
        filter: drop-shadow(5px 6px 7px #bdb3b3);
        &::after {
          background-color: $yellow__color;
        }
      }
    }
    .about__us__card {
      position: absolute;
      width: 400px;
      padding: 30px;
      background-color: $bg__color;
      h4 {
        @include fontStyle(18px, 500, $fr);
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        @include fontStyle(16px, 400, $fos);
        line-height: 25px;
      }
    }
    .about__circle {
      @extend %flex__align;
      margin: 244px 0;
      height: 400px;
      width: 400px;
      border: 1px solid $dark__color;
      border-radius: 50%;
      .about__us__image {
        height: 350px;
        width: 350px;
        margin: 0 auto;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        &::after {
          @extend %dark__overlay;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
