/*

                =================================

                         reset css start


                =================================

*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
span,
input,
textarea,
button {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
section,
div {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*

                =================================

                           reset css end


                =================================

*/
/*

                =================================

                          common css start


                =================================

*/
.section__title {
  font-size: 40px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.section__header__description {
  font-size: 17px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  max-width: 565px;
  margin: 0 auto;
  text-align: center;
  color: #333333;
}

.z__index {
  position: relative;
  z-index: 9;
}

/*

                =================================

                          common css end


                =================================

*/
/*

                =================================

                         header css start


                =================================

*/
#header #hero__area .slider__item::after, #about__us .about__us__container .about__circle .about__us__image::after, #portfolio::after, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #testimonial::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#header #hero__area .slider__item, #header #hero__area .slider__item .hero__buttons, #about__us .about__us__container, #about__us .about__us__container .about__circle, #portfolio .portfolio__image__container, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay a, #services .service__container .line__shape .service__slider .service__up,
#services .service__container .line__shape .service__slider .service__down, #services .service__container .line__shape .service__slider .service__single__slide, #services .service__container .line__shape .service__slider .service__single__slide .service__image, #services .service__container .line__shape .service__slider .service__single__slide .service__image .service__image__bg, #testimonial .testimonial, #testimonial .testimonial .testimonial__image .testimonial__image__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

#header nav ul li {
  margin-left: 20px;
}

#header nav ul li:nth-child(1) {
  margin-left: 0;
}

#header nav ul li:nth-child(7) {
  margin-left: 0;
}

#header nav ul li a {
  padding: 0;
  color: #d7d6d6;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

#header nav ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #fec600;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#header nav ul li a:hover {
  color: #fec600;
}

#header nav ul li a:hover::before {
  width: 100%;
}

#header #hero__area {
  width: 100%;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

#header #hero__area .banner__prev,
#header #hero__area .banner__next {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#header #hero__area .banner__prev:hover,
#header #hero__area .banner__next:hover {
  background: #fec600;
  border: 1px solid #fec600;
}

#header #hero__area .banner__prev {
  left: 30px;
}

#header #hero__area .banner__next {
  right: 30px;
}

#header #hero__area .slider__item {
  width: 100%;
  position: relative;
  padding: 200px 0;
}

#header #hero__area .slider__item h2 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #d7d6d6;
  text-align: center;
}

#header #hero__area .slider__item h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  color: #fec600;
  text-align: center;
}

#header #hero__area .slider__item p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #adaaaa;
  max-width: 750px;
  margin: 40px auto;
  line-height: 30px;
  text-align: center;
}

#header #hero__area .slider__item .hero__buttons button {
  padding: 10px 30px;
  outline: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#header #hero__area .slider__item .hero__buttons button:nth-child(1) {
  background-color: #fec600;
  margin-right: 20px;
  color: #333333;
  border: 1px solid transparent;
}

#header #hero__area .slider__item .hero__buttons button:nth-child(1):hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

#header #hero__area .slider__item .hero__buttons button:nth-child(2) {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

#header #hero__area .slider__item .hero__buttons button:nth-child(2):hover {
  background-color: #fec600;
  color: #333333;
  border: 1px solid transparent;
}

#header #hero__area .bg-1 {
  background: url("../images/banner-bg1.jpg") no-repeat center/cover;
}

#header #hero__area .bg-2 {
  background: url("../images/banner-bg2.jpg") no-repeat center/cover;
}

#header #hero__area .bg-3 {
  background: url("../images/banner-bg3.jpg") no-repeat center/cover;
}

/*

                =================================

                         header css end


                =================================

*/
/*

                =================================

                         about us css start


                =================================

*/
#header #hero__area .slider__item::after, #about__us .about__us__container .about__circle .about__us__image::after, #portfolio::after, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #testimonial::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#about__us .about__us__container .about__left::after, #about__us .about__us__container .about__right::after, #about__us .about__us__container .about__top::after, #about__us .about__us__container .about__bottom::after {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background-color: #333333;
  border-radius: 50%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#about__us .about__us__container .about__left::before, #about__us .about__us__container .about__right::before, #about__us .about__us__container .about__top::before, #about__us .about__us__container .about__bottom::before, #services .service__container .line__shape .service__slider .service__single__slide .left__text::before, #services .service__container .line__shape .service__slider .service__single__slide .right__text::before {
  content: '';
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  position: absolute;
  z-index: -1;
}

#header #hero__area .slider__item, #header #hero__area .slider__item .hero__buttons, #about__us .about__us__container, #about__us .about__us__container .about__circle, #portfolio .portfolio__image__container, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay a, #services .service__container .line__shape .service__slider .service__up,
#services .service__container .line__shape .service__slider .service__down, #services .service__container .line__shape .service__slider .service__single__slide, #services .service__container .line__shape .service__slider .service__single__slide .service__image, #services .service__container .line__shape .service__slider .service__single__slide .service__image .service__image__bg, #testimonial .testimonial, #testimonial .testimonial .testimonial__image .testimonial__image__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about__us {
  padding: 50px 0;
}

#about__us .about__us__container {
  position: relative;
  margin: 100px 0;
}

#about__us .about__us__container .about__left {
  text-align: right;
  left: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#about__us .about__us__container .about__left::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  right: -5%;
}

#about__us .about__us__container .about__left::after {
  right: -72px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#about__us .about__us__container .about__left:hover {
  -webkit-filter: drop-shadow(5px 6px 7px #bdb3b3);
          filter: drop-shadow(5px 6px 7px #bdb3b3);
}

#about__us .about__us__container .about__left:hover::after {
  background-color: #fec600;
}

#about__us .about__us__container .about__right {
  text-align: left;
  right: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#about__us .about__us__container .about__right::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  left: -5%;
}

#about__us .about__us__container .about__right::after {
  left: -72px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#about__us .about__us__container .about__right:hover {
  -webkit-filter: drop-shadow(5px 6px 7px #bdb3b3);
          filter: drop-shadow(5px 6px 7px #bdb3b3);
}

#about__us .about__us__container .about__right:hover::after {
  background-color: #fec600;
}

#about__us .about__us__container .about__top {
  text-align: center;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#about__us .about__us__container .about__top::before {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  bottom: -5%;
}

#about__us .about__us__container .about__top::after {
  bottom: -52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#about__us .about__us__container .about__top:hover {
  -webkit-filter: drop-shadow(5px 6px 7px #bdb3b3);
          filter: drop-shadow(5px 6px 7px #bdb3b3);
}

#about__us .about__us__container .about__top:hover::after {
  background-color: #fec600;
}

#about__us .about__us__container .about__bottom {
  text-align: center;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#about__us .about__us__container .about__bottom::before {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  top: -5%;
}

#about__us .about__us__container .about__bottom::after {
  top: -52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#about__us .about__us__container .about__bottom:hover {
  -webkit-filter: drop-shadow(5px 6px 7px #bdb3b3);
          filter: drop-shadow(5px 6px 7px #bdb3b3);
}

#about__us .about__us__container .about__bottom:hover::after {
  background-color: #fec600;
}

#about__us .about__us__container .about__us__card {
  position: absolute;
  width: 400px;
  padding: 30px;
  background-color: #f1f1f1;
}

#about__us .about__us__container .about__us__card h4 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#about__us .about__us__container .about__us__card p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
}

#about__us .about__us__container .about__circle {
  margin: 244px 0;
  height: 400px;
  width: 400px;
  border: 1px solid #333333;
  border-radius: 50%;
}

#about__us .about__us__container .about__circle .about__us__image {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

#about__us .about__us__container .about__circle .about__us__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*

                =================================

                         about us css end


                =================================

*/
/*

                =================================

                      portfolio css start


                =================================

*/
#header #hero__area .slider__item::after, #about__us .about__us__container .about__circle .about__us__image::after, #portfolio::after, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #testimonial::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#header #hero__area .slider__item, #header #hero__area .slider__item .hero__buttons, #about__us .about__us__container, #about__us .about__us__container .about__circle, #portfolio .portfolio__image__container, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay a, #services .service__container .line__shape .service__slider .service__up,
#services .service__container .line__shape .service__slider .service__down, #services .service__container .line__shape .service__slider .service__single__slide, #services .service__container .line__shape .service__slider .service__single__slide .service__image, #services .service__container .line__shape .service__slider .service__single__slide .service__image .service__image__bg, #testimonial .testimonial, #testimonial .testimonial .testimonial__image .testimonial__image__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio {
  background: url("../images/portfolio-bg.jpg") no-repeat center/cover;
  padding: 100px 0;
  -webkit-clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
          clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  position: relative;
}

#portfolio .section__title {
  color: #ffffff;
}

#portfolio .section__header__description {
  color: #adaaaa;
}

#portfolio .portfolio__image__container {
  margin: 80px 0;
}

#portfolio .portfolio__image__container .portfolio__image {
  overflow: hidden;
  margin: 0 20px 20px 0;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay a {
  font-size: 16px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #f1f1f1;
  color: #333333;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay a:hover {
  background-color: #fec600;
}

#portfolio .portfolio__image__container .portfolio__image:hover .portfolio__image__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#portfolio .portfolio__image__container .portfolio__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vbox-grab .vbox-child img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*

                =================================

                      portfolio css end


                =================================

*/
/*

                =================================

                      services css start


                =================================

*/
#about__us .about__us__container .about__left::before, #about__us .about__us__container .about__right::before, #about__us .about__us__container .about__top::before, #about__us .about__us__container .about__bottom::before, #services .service__container .line__shape .service__slider .service__single__slide .left__text::before, #services .service__container .line__shape .service__slider .service__single__slide .right__text::before {
  content: '';
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  position: absolute;
  z-index: -1;
}

#header #hero__area .slider__item, #header #hero__area .slider__item .hero__buttons, #about__us .about__us__container, #about__us .about__us__container .about__circle, #portfolio .portfolio__image__container, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay a, #services .service__container .line__shape .service__slider .service__up,
#services .service__container .line__shape .service__slider .service__down, #services .service__container .line__shape .service__slider .service__single__slide, #services .service__container .line__shape .service__slider .service__single__slide .service__image, #services .service__container .line__shape .service__slider .service__single__slide .service__image .service__image__bg, #testimonial .testimonial, #testimonial .testimonial .testimonial__image .testimonial__image__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services {
  padding: 100px 0;
  position: relative;
}

#services .service__container {
  margin: 80px 0;
  position: relative;
}

#services .service__container .line__shape {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#services .service__container .line__shape .slick-slider .slick-center .service__text {
  -webkit-filter: drop-shadow(5px 6px 7px #bdb3b3);
          filter: drop-shadow(5px 6px 7px #bdb3b3);
}

#services .service__container .line__shape .slick-slider .slick-center .service__image .service__image__bg {
  background: #fec600 !important;
}

#services .service__container .line__shape .service__slider {
  width: 100%;
  position: absolute;
  top: 5%;
  left: 0;
}

#services .service__container .line__shape .service__slider .service__up,
#services .service__container .line__shape .service__slider .service__down {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid #333333;
  text-align: center;
  line-height: 35px;
  position: absolute;
  left: 50%;
  cursor: pointer;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#services .service__container .line__shape .service__slider .service__up:hover,
#services .service__container .line__shape .service__slider .service__down:hover {
  background: #fec600;
  border: 1px solid #fec600;
}

#services .service__container .line__shape .service__slider .service__up {
  top: -50px;
}

#services .service__container .line__shape .service__slider .service__down {
  bottom: -30px;
}

#services .service__container .line__shape .service__slider .service__single__slide {
  margin-bottom: 40px;
}

#services .service__container .line__shape .service__slider .service__single__slide .service__text {
  width: 40%;
  background: #f1f1f1;
  padding: 40px;
}

#services .service__container .line__shape .service__slider .service__single__slide .service__text p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  line-height: 30px;
}

#services .service__container .line__shape .service__slider .service__single__slide .left__text {
  position: relative;
  text-align: right;
}

#services .service__container .line__shape .service__slider .service__single__slide .left__text::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  right: -5%;
}

#services .service__container .line__shape .service__slider .service__single__slide .right__text {
  position: relative;
  text-align: left;
}

#services .service__container .line__shape .service__slider .service__single__slide .right__text::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  left: -5%;
}

#services .service__container .line__shape .service__slider .service__single__slide .service__image {
  width: 20%;
}

#services .service__container .line__shape .service__slider .service__single__slide .service__image .service__image__bg {
  width: 80px;
  height: 80px;
  background-color: #f1f1f1;
  border-radius: 50%;
}

#services .service__container .line__shape .service__slider .service__single__slide .service__image .service__image__bg img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

#services .service__container .line__shape .service__slider .service__single__slide .service__title {
  width: 40%;
}

#services .service__container .line__shape .service__slider .service__single__slide .service__title h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: #333333;
}

/*

                =================================

                      services css end


                =================================

*/
/*

                =================================

                     testimonial css start


                =================================

*/
#header #hero__area .slider__item::after, #about__us .about__us__container .about__circle .about__us__image::after, #portfolio::after, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #testimonial::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#header #hero__area .slider__item, #header #hero__area .slider__item .hero__buttons, #about__us .about__us__container, #about__us .about__us__container .about__circle, #portfolio .portfolio__image__container, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay a, #services .service__container .line__shape .service__slider .service__up,
#services .service__container .line__shape .service__slider .service__down, #services .service__container .line__shape .service__slider .service__single__slide, #services .service__container .line__shape .service__slider .service__single__slide .service__image, #services .service__container .line__shape .service__slider .service__single__slide .service__image .service__image__bg, #testimonial .testimonial, #testimonial .testimonial .testimonial__image .testimonial__image__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonial {
  background: url("../images/portfolio-bg.jpg") no-repeat center/cover;
  padding: 100px 0;
  -webkit-clip-path: polygon(0% 5%, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0% 5%, 100% 0%, 100% 90%, 0% 100%);
  position: relative;
}

#testimonial .testimonial {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

#testimonial .testimonial .testimonial__image {
  width: 10%;
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider {
  margin-top: 15px;
  position: relative;
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider::after {
  content: '';
  width: 1px;
  height: 113%;
  background: url(../images/br.png) repeat-y;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider .slick-center.testimonial__image__item {
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
  background: #fec600;
  left: 15% !important;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider .slick-center.testimonial__image__item img {
  opacity: 1 !important;
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
  color: #333333;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider i:hover {
  background: #fec600;
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider i.testimonial__up {
  top: -50px;
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider i.testimonial__down {
  bottom: -50px;
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider .testimonial__image__item {
  width: 80px !important;
  height: 80px !important;
  background: #f1f1f1;
  padding: 12px 12px;
  border-radius: 50%;
  position: relative;
  border: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  z-index: 1;
  overflow: hidden;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
  margin: 35px 0;
}

#testimonial .testimonial .testimonial__image .testimonial__image__slider .testimonial__image__item img {
  max-width: 90%;
  position: absolute;
  bottom: -1px;
  left: 50%;
  border-radius: 31%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.4;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

#testimonial .testimonial .testimonial__details {
  width: 80%;
}

#testimonial .testimonial .testimonial__details .testimonial__text__slider {
  position: relative;
  z-index: 1;
}

#testimonial .testimonial .testimonial__details .testimonial__text__slider::before {
  content: '';
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: -2%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  z-index: -1;
  border-bottom-left-radius: 20%;
}

#testimonial .testimonial .testimonial__details .testimonial__text__slider .testimonial__text__item {
  width: 720px !important;
  background: #f1f1f1;
  padding: 42px 30px;
}

#testimonial .testimonial .testimonial__details .testimonial__text__slider .testimonial__text__item h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: #333333;
  text-transform: capitalize;
}

#testimonial .testimonial .testimonial__details .testimonial__text__slider .testimonial__text__item .icon {
  margin-top: 5px;
  margin-bottom: 10px;
}

#testimonial .testimonial .testimonial__details .testimonial__text__slider .testimonial__text__item .icon i {
  color: #fec600;
}

#testimonial .testimonial .testimonial__details .testimonial__text__slider .testimonial__text__item h4 {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  text-transform: capitalize;
}

#testimonial .testimonial .testimonial__details .testimonial__text__slider .testimonial__text__item p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  color: #333333;
}

#testimonial .testimonial .testimonial__details .testimonial__text__slider .testimonial__text__item h6 {
  color: #333333;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Sacramento", cursive;
  line-height: 24px;
  text-transform: capitalize;
  text-align: right;
}

/*

                =================================

                      testimonial css end


                =================================

*/
/*

                =================================

                      clients css start


                =================================

*/
#about__us .about__us__container .about__left::before, #about__us .about__us__container .about__right::before, #about__us .about__us__container .about__top::before, #about__us .about__us__container .about__bottom::before, #services .service__container .line__shape .service__slider .service__single__slide .left__text::before, #services .service__container .line__shape .service__slider .service__single__slide .right__text::before {
  content: '';
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  position: absolute;
  z-index: -1;
}

#header #hero__area .slider__item, #header #hero__area .slider__item .hero__buttons, #about__us .about__us__container, #about__us .about__us__container .about__circle, #portfolio .portfolio__image__container, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay, #portfolio .portfolio__image__container .portfolio__image .portfolio__image__overlay a, #services .service__container .line__shape .service__slider .service__up,
#services .service__container .line__shape .service__slider .service__down, #services .service__container .line__shape .service__slider .service__single__slide, #services .service__container .line__shape .service__slider .service__single__slide .service__image, #services .service__container .line__shape .service__slider .service__single__slide .service__image .service__image__bg, #testimonial .testimonial, #testimonial .testimonial .testimonial__image .testimonial__image__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*

                =================================

                       clients css end


                =================================

*/
/* 

      scroll to to css
*/
.scroll__to__top {
  width: 40px;
  height: 40px;
  background: #fec600;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #333333;
  z-index: 9999;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  opacity: 0;
}

.scroll__to__top:hover {
  background: #adaaaa;
}

.scrolling {
  opacity: 1;
}

/*

                =================================
 
                        footer css start


                =================================

*/
/*

                =================================

                       footer css end


                =================================

*/
/*# sourceMappingURL=style.css.map */