$white__heading: #d7d6d6;
$yellow__color: #fec600;
$white__color: #ffffff;
$white__pera: #adaaaa;
$dark__color: #333333;
$bg__color: #f1f1f1;
$filter: drop-shadow(5px 6px 7px #bdb3b3);
$fr: 'Raleway', sans-serif;
$fos: 'Open Sans', sans-serif;
$fsa: 'Sacramento', cursive;
$transition: all 0.5s linear;
